In [1]:
import numpy as np
import pandas as pd

In [2]:
from googletrans import Translator, LANGUAGES

Если при использовании модуля googletrans будет возникать ошибка `attribute error`, то может помочь установка другой определённой версии библиотеки:
```
pip install googletrans==3.1.0a0 --no-cache-dir
```

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
# Чтение val.pkl, который я скинул
data = pd.read_pickle("val.pkl")
# Или так:
# dataset = load_dataset("eReverter/cnn_dailymail_extractive", split='validation')
# data = dataset.to_pandas().drop('tgt', axis=1)

In [5]:
# Выбираем свою часть датасета, которую собираемся переводить.
# Я беру первые 5К [0:4999]
# Ты, получается, следующие 5К 
start = 0
end = 2
data = data.loc[start:end]
data

,src,labels
0,"[(CNN)Share, and your gift will be multiplied....","[0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,"[(CNN)On the 6th of April 1996, San Jose Clash...","[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ..."
2,"[(CNN)French striker Bafetimbi Gomis, who has ...","[0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [6]:
translator = Translator()

data['src'] = data['src'].apply(lambda text: text.tolist())
data['ru_src'] = data['src'].apply(lambda sentences: [translator.translate(sentence, src='en', dest='ru').text for sentence in sentences])

df = pd.DataFrame(data[['ru_src', 'labels']].values, columns=['sentences', 'labels'])
df

,sentences,labels
0,"[(CNN) Поделитесь, и ваш дар будет умножен., Э...","[0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,[(CNN) 6 апреля 1996 года «Сан-Хосе Клэш» и «Д...,"[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ..."
2,"[(CNN) Французский нападающий Бафетимби Гомис,...","[0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [7]:
df.to_pickle('translated_val.pkl')