In [1]:
import pandas as pd

In [2]:
ru_train_6k = pd.read_pickle('../ru_train_6k.pkl')
ru_train_5k = pd.read_pickle('../ru_train_5k.pkl')

In [4]:
ru_train = pd.DataFrame(pd.concat([ru_train_6k, ru_train_5k], axis=0).values, columns=["sentences", "labels"])
ru_train

,sentences,labels
0,"[Современных людей обвиняют в том, что они уби...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,"[Когда Клэр Хайнс узнала, что беременна, она о...","[0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,[Знаменитый шеф-повар Пит Эванс потерял еще од...,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, ..."
3,"[Ученые полагают, что жизнь на Земле начала ра...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,[Паундленд был вынужден убрать со своих полок ...,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0]"
...,...,...
10995,"[Тренер сборной Англии Рой Ходжсон опасается, ...","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
10996,[Лучшие британцы встретятся лицом к лицу в суб...,"[1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
10997,"[Шведская футбольная команда рассказала, как о...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
10998,"[Лес Фердинанд признал, что перед КПР стоит не...","[0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0]"
10999,"[Поразмыслив, было бы неправильно охарактеризо...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [6]:
ru_train.to_pickle("../ru_train.pkl")